<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    {% load static %}
    <link rel="stylesheet" href="about.css" />
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
  </head>
  <body>
    <div class="section">
      <div class="container">
        <div class="content-section">
          <div class="title">
            <h1>About Us</h1>
          </div>
          <div class="content">
            <h1>Welcome to HireZone!</h1>
            <p>
              At HireZone, we understand the challenges m kudu of finding
              reliable, skilled professionals quickly and efficiently. Whether
              you're looking for help with a home improvement project, planning
              an event, or seeking expertise in any other domain, our platform
              is designed to streamline the hiring process and ensure quick and
              reliable connections right in your local area
            </p>

            <div class="button">
              <a href="">Read More</a>
            </div>
            <h1>Our Mission</h1>
            <p>
                Our mission is to bridge the gap between those in need of professional services and the talented individuals who can provide them. We focus on local hiring, making it easier for you to find the right person for the job without the hassle of extensive searches or long wait times. By fostering a community of trusted professionals, we aim to add value to your projects and enhance the portfolios of our service providers.
            </p>
            <h1>Contact Us</h1>
            <p>
                Have questions or need assistance? Our dedicated support team is here to help. <br> Contact us at support@hirezone.com or call us at (123) 456-7890.
Thank you for choosing HireZone – where local talent meets opportunity.
            </p>
          </div>
          <div class="social-media"></div>
        </div>
      </div>
    </div>
  </body>
</html>
